## Import Required Libraries

In [24]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [6]:
from google.colab import drive

# Mount Google Drive with a longer timeout
drive.mount('/content/drive', force_remount=True, timeout_ms=300000)

Mounted at /content/drive

In [ ]:
# File Path
path_customer_orders="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/customer-orders.csv"
path_order_items="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/order_items.csv"
path_orders="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/orders.csv"
path_products="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/products.csv"
path_stores="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/stores.csv"
path_customers="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/customers.csv"

# /content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/SalesData/

# /content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Calendar Lookup.csv
# /content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Customer Lookup.csv
# /content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Product Categories Lookup.csv

In [19]:
ls drive/MyDrive/'Colab Notebooks'/

'2. Loading Data from CSV File into a DataFrame.ipynb'   programwith_rdd.ipynb
 dataSet/                                                Untitled0.ipynb
'Day 1: Creating DataFrames in PySpark.ipynb'            Untitled1.ipynb

## Define the Schema

In [7]:
df_product = spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/products.csv", header=True, inferSchema=True)
df_product.printSchema()

root
 |-- PRODUCT_ID: integer (nullable = true)
 |-- PRODUCT_NAME: string (nullable = true)
 |-- UNIT_PRICE: double (nullable = true)

In [22]:
df_customer = spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Customer Lookup.csv", header=True, inferSchema=True)
df_customer.printSchema()
df_customer.show()

root
 |-- CustomerKey: string (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- AnnualIncome: integer (nullable = true)
 |-- TotalChildren: integer (nullable = true)
 |-- EducationLevel: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)

+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|CustomerKey|Prefix|FirstName|LastName| BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren| EducationLevel|    Occupation|HomeOwner|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|      11000|   MR.|      JON|    YANG|1966-04-08|            M|     M|jon24@adventure-w...|       90000|            2|      Bachelors|  Professional|        Y|
|      11001|   MR.|   EUGENE|   HUANG|1965-05-14|            S|     M|eugene10@adventur...|       60000|            3|      Bachelors|  Professional|        N|
|      11002|   MR.|    RUBEN|  TORRES|1965-08-12|            M|     M|ruben35@adventure...|       60000|            3|      Bachelors|  Professional|        Y|
|      11003|   MS.|  CHRISTY|     ZHU|1968-02-15|            S|     F|christy12@adventu...|       70000|            0|      Bachelors|  Professional|        N|
|      11004|  MRS.|ELIZABETH| JOHNSON|1968-08-08|            S|     F|elizabeth5@advent...|       80000|            5|      Bachelors|  Professional|        Y|
|      11005|   MR.|    JULIO|    RUIZ|1965-08-05|            S|     M|julio1@adventure-...|       70000|            0|      Bachelors|  Professional|        Y|
|      11007|   MR.|    MARCO|   MEHTA|1964-05-09|            M|     M|marco14@adventure...|       60000|            3|      Bachelors|  Professional|        Y|
|      11008|  MRS.|    ROBIN| VERHOFF|1964-07-07|            S|     F|rob4@adventure-wo...|       60000|            4|      Bachelors|  Professional|        Y|
|      11009|   MR.|  SHANNON| CARLSON|1964-04-01|            S|     M|shannon38@adventu...|       70000|            0|      Bachelors|  Professional|        N|
|      11010|   MS.|JACQUELYN|  SUAREZ|1964-02-06|            S|     F|jacquelyn20@adven...|       70000|            0|      Bachelors|  Professional|        N|
|      11011|   MR.|   CURTIS|      LU|1963-11-04|            M|     M|curtis9@adventure...|       60000|            4|      Bachelors|  Professional|        Y|
|      11012|  MRS.|   LAUREN|  WALKER|1968-01-18|            M|     F|lauren41@adventur...|      100000|            2|      Bachelors|    Management|        Y|
|      11013|   MR.|      IAN| JENKINS|1968-08-06|            M|     M|ian47@adventure-w...|      100000|            2|      Bachelors|    Management|        Y|
|      11014|  MRS.|   SYDNEY| BENNETT|1968-05-09|            S|     F|sydney23@adventur...|      100000|            3|      Bachelors|    Management|        N|
|      11015|   MS.|    CHLOE|   YOUNG|1979-02-27|            S|     F|chloe23@adventure...|       30000|            0|Partial College|Skilled Manual|        N|
|      11016|   MR.|    WYATT|    HILL|1979-04-28|            M|     M|wyatt32@adventure...|       30000|            0|Partial College|Skilled Manual|        Y|
|      11017|  MRS.|  SHANNON|    WANG|1944-06-26|            S|     F|shannon1@adventur...|       20000|            4|    High School|Skilled Manual|        Y|
|      11018|   MR.| CLARENCE|     RAI|1944-10-09|            S|     M|clarence32@advent...|       30000|            2|Partial College|      Clerical|        Y|
|      11019|   MR.|     LUKE|     LAL|1978-03-07|            S|     M|luke18@adventure-...|       40000|            0|    High School|Skilled Manual|        N|
|      11020|   MR.|   JORDAN|    KING|1978-09-20|            S|     M|jordan73@adventur...|       40000|            0|    High School|Skilled Manual|        N|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
only showing top 20 rows

In [25]:
#Define the schema for the CSV file]

custom_schema = StructType([
    StructField("CustomerKey", IntegerType(), True),
    StructField("FirstName", StringType(), True),
    StructField("LastName", StringType(), True),
    StructField("BirthDate", DateType(), True),
    StructField("AnnualIncome", FloatType(), True)
])

df_customes = spark.read.csv(path_customers, )