## Import Required Libraries

In [30]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [31]:
from google.colab import drive

# Mount Google Drive with a longer timeout
drive.mount('/content/drive', force_remount=True, timeout_ms=300000)

Mounted at /content/drive

In [39]:
# File Path
path_customer_orders="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/customer-orders.csv"
path_order_items="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/order_items.csv"
path_orders="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/orders.csv"
path_products="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/products.csv"
path_stores="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/stores.csv"
path_customers="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/customers.csv"

# /content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/SalesData/

path_advw_customer="/content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Customer Lookup.csv"
path_advw_product_catagory="/content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Product Categories Lookup.csv"

In [32]:
ls drive/MyDrive/'Colab Notebooks'/

'2. Loading Data from CSV File into a DataFrame.ipynb'   programwith_rdd.ipynb
 dataSet/                                                Untitled0.ipynb
'Day 1: Creating DataFrames in PySpark.ipynb'            Untitled1.ipynb

## Define the Schema

In [33]:
df_product = spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/customerOrder/products.csv", header=True, inferSchema=True)
df_product.printSchema()

root
 |-- PRODUCT_ID: integer (nullable = true)
 |-- PRODUCT_NAME: string (nullable = true)
 |-- UNIT_PRICE: double (nullable = true)

In [ ]:
df_customer = spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Customer Lookup.csv", header=True, inferSchema=True)
df_customer.printSchema()
df_customer.show(5)

In [52]:
#Define the schema for the CSV file]

custom_schema = StructType([
    StructField("CustomerKey", IntegerType(), True),
    StructField("Prefix", StringType(), True),
    StructField("FirstName", StringType(), True),
    StructField("LastName", StringType(), True),
    StructField("BirthDate", DateType(), True),
    StructField("MaritalStatus", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("EmailAddress", StringType(), True),
    StructField("AnnualIncome", IntegerType(), True),
    StructField("TotalChildren", IntegerType(), True),
    StructField("EducationLevel", StringType(), True),
    StructField("Occupation", StringType(), True),
    StructField("HomeOwner", StringType(), True)
])

df_customers_data = spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/AdventureWorksRawData/AdventureWorks Customer Lookup.csv", header=True, schema=custom_schema)
df_customers_data.show(5)

+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
|CustomerKey|Prefix|FirstName|LastName| BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren|EducationLevel|  Occupation|HomeOwner|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
|      11000|   MR.|      JON|    YANG|1966-04-08|            M|     M|jon24@adventure-w...|       90000|            2|     Bachelors|Professional|        Y|
|      11001|   MR.|   EUGENE|   HUANG|1965-05-14|            S|     M|eugene10@adventur...|       60000|            3|     Bachelors|Professional|        N|
|      11002|   MR.|    RUBEN|  TORRES|1965-08-12|            M|     M|ruben35@adventure...|       60000|            3|     Bachelors|Professional|        Y|
|      11003|   MS.|  CHRISTY|     ZHU|1968-02-15|            S|     F|christy12@adventu...|       70000|            0|     Bachelors|Professional|        N|
|      11004|  MRS.|ELIZABETH| JOHNSON|1968-08-08|            S|     F|elizabeth5@advent...|       80000|            5|     Bachelors|Professional|        Y|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
only showing top 5 rows