#Joins in Dataframe

## Part -1

***Joins in PySpark: ***

Joins are used to combine two DataFrames based on a common column or condition. PySpark supports several types of joins, similar to SQL. Below are explanations and examples for each type of join.

### **1. Inner Join: (inner)**

`inner_join = df1.join(df2, on="common_column" how = "inner")`

**Explanation:**
* Purpose: Returns rows where there is a match in both DataFrames (df1 and df2) based on the common_column.
* Behavior: Rows with no matching value in either DataFrame are excluded.
* Use Case: When you only need records that exist in both DataFrames.

### **2. Left Join (Left Outer Join) : (left)**

`left_join = df1.join(df2, on="common_column", how = "left")`


**Explanation:**
* Purpose: Returns all rows from df1 and the matching rows from df2. If no match exists in df2, the result will contain NULL for columns from df2.
* Behavior: All rows from the left DataFrame (df1) are preserved, even if there’s no match in the right DataFrame (df2).
* Use Case: When you want to retain all rows from df1, even if there's no match in df2.

### **3. Right Join (Right Outer Join): (right)**

` right_join = df1.join(df2, on="common_column", how="right") `


**Explanation:**
* Purpose: Returns all rows from df2 and the matching rows from df1. If no match exists in df1, the result will contain NULL for columns from df1.
* Behavior: All rows from the right DataFrame (df2) are preserved, even if there’s no match in the left DataFrame (df1).
* Use Case: When you want to retain all rows from df2, even if there's no match in df1.

### **4. Full Join (Outer Join) : (outer)**

` full_join = df1.join(df2, on="common column" how ='outer') `

**Explanation:**
* Purpose: Returns all rows when there is a match in either df1 or df2. Non-matching rows will have NULL values in the columns from the other DataFrame.
* Behavior: Retains all rows from both DataFrames, filling in NULL where there is no match.
* Use Case: When you want to retain all rows from both DataFrames, regardless of whether there’s a match.

### **5. Left Semi Join (left_semi)**

`left_semi_join = df1.join(df2, on="common_column" how='left_semi')`

**Explanation:**
* Purpose: Returns only the rows from df1 where there is a match in df2. It behaves like an inner join but only keeps columns from df1.
* Behavior: Filters df1 to only keep rows that have a match in df2.
* Use Case: When you want to filter df1 to keep rows with matching keys in df2, but you don’t need columns from df2.

### **6. Left Anti Join : (left_anti)**

` left_anti_join = df1.join(df2, on='common column' how='left_anti') `

**Explanation:**
* Purpose: Returns only the rows from df1 that do not have a match in df2.
* Behavior: Filters out rows from df1 that have a match in df2.
* Use Case: When you want to filter df1 to keep rows with no matching keys in df2

### **7. Cross Join**

` cross_join = df1.cross_join(df2) `

**Explanation:**
* Purpose: Returns the Cartesian product of df1 and df2, meaning every row of df1 is paired with every row of df2.
* Behavior: The number of rows in the result will be the product of the row count of df1 and df2.
* Use Case: Typically used in edge cases or for generating combinations of rows, but be cautious as it can result in a very large DataFrame

### ***8. Join with Explicit Conditions: (inner) ***

`inner_join = df1.join(df2, (df1["columnA"] == df2["columnB"]), "inner")`

**Explanation:**
* Purpose: This is an example of an inner join where the common columns have different names in df1 and df2.
* Behavior: Joins df1 and df2 based on a condition where columnA from df1 matches columnB from df2.
* Use Case: When the join condition involves columns with different names or more complex conditions.

## Joins Part 2

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import *
from pyspark.sql.functions import *  # Import the function
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import regexp_replace, col
from google.colab import drive

In [2]:
# Initialize Spark session
spark = SparkSession.builder.appName("JoinsExample").getOrCreate()
# Sample DataFrames
data1 = [Row(id=1), Row(id=1),  Row(id=None), Row(id=0)]
data2 = [Row(id=1), Row(id=1), Row(id=1),  Row(id=None), Row(id=0)]
df1 = spark.createDataFrame(data1)
df2 = spark.createDataFrame(data2)
df1.show()
df2.show()

+----+
|  id|
+----+
|   1|
|   1|
|NULL|
|   0|
+----+

+----+
|  id|
+----+
|   1|
|   1|
|   1|
|NULL|
|   0|
+----+

In [3]:
#Inner Join
inner_join = df1.join(df2, on="id", how="inner")

print('Inner Join')
inner_join.show()

Inner Join
+---+
| id|
+---+
|  0|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
+---+

In [4]:
# Left Join
left_join = df1.join(df2, on='id', how='left')
print('Left Join')
left_join.show()

Left Join
+----+
|  id|
+----+
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   0|
|NULL|
+----+

In [5]:
#Right Join
right_join =df1.join(df2, on="id", how='right')
print('Right Jouin')
right_join.show()

Right Jouin
+----+
|  id|
+----+
|   1|
|   1|
|   1|
|   1|
|   0|
|NULL|
|   1|
|   1|
+----+

In [6]:
## Full Join
full_join = df1.join(df2, on='id', how='outer')
print('Full Join')
full_join.show()

Full Join
+----+
|  id|
+----+
|NULL|
|NULL|
|   0|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
+----+

In [7]:
# Left Anti Join
left_anti_join = df1.join(df2, on='id', how='left_anti')
print('Left Anti Join')
left_anti_join.show()

Left Anti Join
+----+
|  id|
+----+
|NULL|
+----+

In [8]:
# Right Anti Join (Equivalent to swapping DataFrames and performing Left Anti Join)
right_anti_join = df2.join(df1, on='id', how='left_anti')
print('Right Anti Join')
right_anti_join.show()

Right Anti Join
+----+
|  id|
+----+
|NULL|
+----+

In [9]:
# Broadcast Join (Optimizing a join with a smaller DataFrame)
broadcast_join = df1.join(broadcast(df2), on='id', how='inner')
print('Broadcast Join')
broadcast_join.show()

Broadcast Join
+---+
| id|
+---+
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  0|
+---+

**Broadcast Join** is a performance optimization technique ideal for joining a large DataFrame with a small one efficiently, reducing shuffle costs.

## Joins Part 3

In [20]:
emp_data = [
    Row(emp_id=1, emp_name="Alice", emp_salary=50000, emp_dept_id=101, emp_location="New York"),
    Row(emp_id=2, emp_name="Bob", emp_salary=60000, emp_dept_id=102, emp_location="Los Angeles"),
    Row(emp_id=3, emp_name="Charlie", emp_salary=55000, emp_dept_id=101, emp_location="Chicago"),
    Row(emp_id=4, emp_name="David", emp_salary=70000, emp_dept_id=103, emp_location="San Francisco"),
    Row(emp_id=5, emp_name="Eve", emp_salary=48000, emp_dept_id=102, emp_location="Houston")
  ]

dept_data = [
     Row(dept_id=101, dept_name="Engineering", dept_head="John", dept_location="New York"),
     Row(dept_id=102, dept_name="Marketing", dept_head="Mary", dept_location="Los Angeles"),
     Row(dept_id=103, dept_name="Finance", dept_head="Frank", dept_location="Chicago"),
     Row(dept_id=104, dept_name="Admin", dept_head="Charlie", dept_location="Houston")

    ]
emp_columns = ["emp_id", "emp_name", "emp_salary", "emp_dept_id", "emp_location"]
dept_columns = ["dept_id", "dept_name", "dept_head", "dept_location"]
emp_df = spark.createDataFrame(emp_data, emp_columns)
dept_df = spark.createDataFrame(dept_data, dept_columns)

emp_df.show()
dept_df.show()

+------+--------+----------+-----------+-------------+
|emp_id|emp_name|emp_salary|emp_dept_id| emp_location|
+------+--------+----------+-----------+-------------+
|     1|   Alice|     50000|        101|     New York|
|     2|     Bob|     60000|        102|  Los Angeles|
|     3| Charlie|     55000|        101|      Chicago|
|     4|   David|     70000|        103|San Francisco|
|     5|     Eve|     48000|        102|      Houston|
+------+--------+----------+-----------+-------------+

+-------+-----------+---------+-------------+
|dept_id|  dept_name|dept_head|dept_location|
+-------+-----------+---------+-------------+
|    101|Engineering|     John|     New York|
|    102|  Marketing|     Mary|  Los Angeles|
|    103|    Finance|    Frank|      Chicago|
|    104|      Admin|  Charlie|      Houston|
+-------+-----------+---------+-------------+

1. Write a PySpark query to find employees whose location matches the location of their department. Display emp_id, emp_name, emp_location, dept_name, and dept_location for matching records.
Modify the code to find departments that

In [21]:
emp_location_df = emp_df.join(dept_df, emp_df['emp_location']==dept_df['dept_location'], "inner")
emp_location_df.select('emp_id', 'emp_name', 'emp_location', 'dept_name', 'dept_location' ).show()

+------+--------+------------+-----------+-------------+
|emp_id|emp_name|emp_location|  dept_name|dept_location|
+------+--------+------------+-----------+-------------+
|     3| Charlie|     Chicago|    Finance|      Chicago|
|     5|     Eve|     Houston|      Admin|      Houston|
|     2|     Bob| Los Angeles|  Marketing|  Los Angeles|
|     1|   Alice|    New York|Engineering|     New York|
+------+--------+------------+-----------+-------------+

2. Modify the code to find departments that have no employees assigned to them. Display dept_id, dept_name, and dept_head.

In [26]:
no_department_df = dept_df.join(emp_df, emp_df['emp_dept_id'] == dept_df['dept_id'], 'left_anti' )
no_department_df.show()

+-------+---------+---------+-------------+
|dept_id|dept_name|dept_head|dept_location|
+-------+---------+---------+-------------+
|    104|    Admin|  Charlie|      Houston|
+-------+---------+---------+-------------+

3. Write a PySpark query to get the average salary of employees in each department, displaying dept_name and the calculated average_salary.

In [43]:
average_salary_deparrt_df = emp_df.join(dept_df, emp_df['emp_dept_id']==dept_df['dept_id'], 'inner')
average_salary_deparrt_df.show()
average_salary_deparrt_df.groupBy("dept_name").agg(avg("emp_salary").alias("avarage_salary")).select("dept_name", "avarage_salary" ).show()

+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+
|emp_id|emp_name|emp_salary|emp_dept_id| emp_location|dept_id|  dept_name|dept_head|dept_location|
+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+
|     1|   Alice|     50000|        101|     New York|    101|Engineering|     John|     New York|
|     3| Charlie|     55000|        101|      Chicago|    101|Engineering|     John|     New York|
|     2|     Bob|     60000|        102|  Los Angeles|    102|  Marketing|     Mary|  Los Angeles|
|     5|     Eve|     48000|        102|      Houston|    102|  Marketing|     Mary|  Los Angeles|
|     4|   David|     70000|        103|San Francisco|    103|    Finance|    Frank|      Chicago|
+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+

+-----------+--------------+
|  dept_name|avarage_salary|
+-----------+--------------+
|Engineering|       52500.0|
|    Finance|       70000.0|
|  Marketing|       54000.0|
+-----------+--------------+

4. List the employees who earn more than the average salary of their department. Display emp_id, emp_name, emp_salary, dept_name, and dept_location.

In [57]:
dep_wise_emp_df = emp_df.join(dept_df, emp_df['emp_dept_id'] == dept_df['dept_id'], "inner")
dep_wise_emp_df.show()

avarage_salary = dep_wise_emp_df.groupBy("dept_id").agg(avg("emp_salary").alias("avarage_salary"))
avarage_salary.show()

get_greater_great_avg_salary_emp_df = dep_wise_emp_df.join(avarage_salary,"dept_id", "inner" )
get_greater_great_avg_salary_emp_df.show()

get_greater_great_avg_salary_emp_df.select("emp_id", "emp_name", "emp_salary", "dept_name", "dept_location").filter('emp_salary>avarage_salary').show()

+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+
|emp_id|emp_name|emp_salary|emp_dept_id| emp_location|dept_id|  dept_name|dept_head|dept_location|
+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+
|     1|   Alice|     50000|        101|     New York|    101|Engineering|     John|     New York|
|     3| Charlie|     55000|        101|      Chicago|    101|Engineering|     John|     New York|
|     2|     Bob|     60000|        102|  Los Angeles|    102|  Marketing|     Mary|  Los Angeles|
|     5|     Eve|     48000|        102|      Houston|    102|  Marketing|     Mary|  Los Angeles|
|     4|   David|     70000|        103|San Francisco|    103|    Finance|    Frank|      Chicago|
+------+--------+----------+-----------+-------------+-------+-----------+---------+-------------+

+-------+--------------+
|dept_id|avarage_salary|
+-------+--------------+
|    101|       52500.0|
|    102|       54000.0|
|    103|       70000.0|
+-------+--------------+

+-------+------+--------+----------+-----------+-------------+-----------+---------+-------------+--------------+
|dept_id|emp_id|emp_name|emp_salary|emp_dept_id| emp_location|  dept_name|dept_head|dept_location|avarage_salary|
+-------+------+--------+----------+-----------+-------------+-----------+---------+-------------+--------------+
|    101|     3| Charlie|     55000|        101|      Chicago|Engineering|     John|     New York|       52500.0|
|    101|     1|   Alice|     50000|        101|     New York|Engineering|     John|     New York|       52500.0|
|    102|     5|     Eve|     48000|        102|      Houston|  Marketing|     Mary|  Los Angeles|       54000.0|
|    102|     2|     Bob|     60000|        102|  Los Angeles|  Marketing|     Mary|  Los Angeles|       54000.0|
|    103|     4|   David|     70000|        103|San Francisco|    Finance|    Frank|      Chicago|       70000.0|
+-------+------+--------+----------+-----------+-------------+-----------+---------+-------------+--------------+

+------+--------+----------+-----------+-------------+
|emp_id|emp_name|emp_salary|  dept_name|dept_location|
+------+--------+----------+-----------+-------------+
|     3| Charlie|     55000|Engineering|     New York|
|     2|     Bob|     60000|  Marketing|  Los Angeles|
+------+--------+----------+-----------+-------------+

In [56]:

# Join Employee and Department Data
dep_wise_emp_df = emp_df.join(dept_df, emp_df['emp_dept_id'] == dept_df['dept_id'], "inner")

# Compute Average Salary per Department
average_salary_df = dep_wise_emp_df.groupBy("dept_id").agg(avg("emp_salary").alias("avg_salary"))

# Join with Employees to Get Only Those Who Earn More Than the Department Average
high_salary_emp_df = dep_wise_emp_df.join(average_salary_df, "dept_id") \
    .filter(dep_wise_emp_df.emp_salary > average_salary_df.avg_salary) \
    .select("emp_id", "emp_name", "emp_salary", "dept_name", "dept_location")

# Show Result
high_salary_emp_df.show()

+------+--------+----------+-----------+-------------+
|emp_id|emp_name|emp_salary|  dept_name|dept_location|
+------+--------+----------+-----------+-------------+
|     3| Charlie|     55000|Engineering|     New York|
|     2|     Bob|     60000|  Marketing|  Los Angeles|
+------+--------+----------+-----------+-------------+