<a href="https://colab.research.google.com/github/srimantapal205/30_DaysPySpark/blob/main/Day_1_Creating_DataFrames_in_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Creating DataFrame Manually with Hardcoded Values

In [27]:
#!sudo apt-get install python3.7
!pip install pyspark
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder.getOrCreate()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libpython3.7-minimal libpython3.7-stdlib python3.7-minimal
Suggested packages:
  python3.7-venv binfmt-support
The following NEW packages will be installed:
  libpython3.7-minimal libpython3.7-stdlib python3.7 python3.7-minimal
0 upgraded, 4 newly installed, 0 to remove and 49 not upgraded.
Need to get 4,670 kB of archives.
After this operation, 17.7 MB of additional disk space will be used.
Get:1 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 libpython3.7-minimal amd64 3.7.17-1+jammy1 [608 kB]
Get:2 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 python3.7-minimal amd64 3.7.17-1+jammy1 [1,837 kB]
Get:3 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 libpython3.7-stdlib amd64 3.7.17-1+jammy1 [1,864 kB]
Get:4 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 python3.7 amd64 3.7.17-1+jammy1 [362 kB]
Fetched 4,670 kB in 2s (2,279 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 4.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libpython3.7-minimal:amd64.
(Reading database ... 124574 files and directories currently installed.)
Preparing to unpack .../libpython3.7-minimal_3.7.17-1+jammy1_amd64.deb ...
Unpacking libpython3.7-minimal:amd64 (3.7.17-1+jammy1) ...
Selecting previously unselected package python3.7-minimal.
Preparing to unpack .../python3.7-minimal_3.7.17-1+jammy1_amd64.deb ...
Unpacking python3.7-minimal (3.7.17-1+jammy1) ...
Selecting previously unselected package libpython3.7-stdlib:amd64.
Preparing to unpack .../libpython3.7-stdlib_3.7.17-1+jammy1_amd64.deb ...
Unpacking libpython3.7-stdlib:amd64 (3.7.17-1+jammy1) ...
Selecting previously unselected package python3.7.
Preparing to unpack .../python3.7_3.7.17-1+jammy1_amd64.deb ...
Unpacking python3.7 (3.7.17-1+jammy1) ...
Setting up libpython3.7-minimal:amd64 (3.7.17-1+jammy1) ...
Setting up python3.7-minimal (3.7.17-1+jammy1) ...
Setting up libpython3.7-stdlib:amd64 (3.7.17-1+jammy1) ...
Setting up python3.7 (3.7.17-1+jammy1) ...
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [28]:
#Sample Data
data = [(1, "Alice"), (2, "Bob"), (3, "Charlie"), (4, "David"), (5, "Eve")]
column =["Id", "Name"]
#Create DateFrame
df = spark.createDataFrame(data, column)
#Show DataFrame
df.show()

+---+-------+
| Id|   Name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+

## 2. Creating DataFrame from Pandas:

In [29]:
# Sample Pandas Dataframe
pandas_df = pd.DataFrame(data, columns=column)

#Conver to Pyspask DataFrame
df_from_Pandas = spark.createDataFrame(pandas_df)
df_from_Pandas.show()

+---+-------+
| Id|   Name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+

## 3. Create DataFrame from Dictionary:

In [30]:
#Convert data into Dictionary
dataDict = [dict(zip(column, values)) for values in data]
print(dataDict)

[{'Id': 1, 'Name': 'Alice'}, {'Id': 2, 'Name': 'Bob'}, {'Id': 3, 'Name': 'Charlie'}, {'Id': 4, 'Name': 'David'}, {'Id': 5, 'Name': 'Eve'}]

In [31]:
df_from_dict = spark.createDataFrame(dataDict)
df_from_dict.show()

+---+-------+
| Id|   Name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+

## 4. Create Empty DataFrame:

In [32]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
# Define Schema
schema = StructType([
    StructField("ID", IntegerType(),True),
    StructField("Name", StringType(), True)
])

#Create Empty DataFrame
empty_df = spark.createDataFrame([], schema=schema)
empty_df.show()

+---+----+
| ID|Name|
+---+----+
+---+----+

In [33]:
from google.colab import drive

# Mount Google Drive with a longer timeout
drive.mount('/content/drive', force_remount=True, timeout_ms=300000)  # Increased timeout to 5 minutes

Mounted at /content/drive

In [7]:
# from os import path
# from google.colab import drive
# drive.mount('/content/drive')

# /content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.csv
#/content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.json
#/content/drive/MyDrive/Colab Notebooks/dataSet/mtcars.parquet

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 5. Creating DataFrame from Structured Data (CSV, JSON, Parquet)

In [48]:
#Reading  CSV file into dataframe
df_csv =  spark.read.csv(path="/content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.csv", header=True, inferSchema=True)
#Show the first 10 rows:
df_csv.show(10)

+---------+--------------------+--------------------+--------+--------------------+-----------------+------------+-----------+-----------------+------------+-----------+-----------+--------+--------------------+--------+---------------+--------------+
|  p_brand|              p_cate|             p_image|  p_mall|              p_name| p_number_reviews|     p_price|p_rate1star|      p_rate2star| p_rate3star|p_rate4star|p_rate5star|p_rating|              s_name|s_rating|s_response_rate| s_ship_ontime|
+---------+--------------------+--------------------+--------+--------------------+-----------------+------------+-----------+-----------------+------------+-----------+-----------+--------+--------------------+--------+---------------+--------------+
|     Dell|Máy vi tính & Laptop|//vn-live-05.slat...|    Mall|Laptop Dell Inspi...|Không có đánh giá|31.490.000 ₫|          0|                0|           0|          0|          0|     0.0|DELL Official Ret...|     88%|           100%|          100%|
|       HP|Máy vi tính & Laptop|//vn-live-05.slat...|    Mall|Laptop HP ProBook...|Không có đánh giá|31.490.000 ₫|          0|                0|           0|          0|          0|     0.0|          An Phát HP|     94%|            89%|          100%|
|       HP|Máy vi tính & Laptop|//vn-live-05.slat...|    Mall|Laptop HP 14s-fq1...|       1 đánh giá|12.390.000 ₫|          0|                0|           0|          0|          1|     5.0|          An Phát HP|     94%|            89%|          100%|
|     Dell|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|"Brand New Dell A...|         32GB RAM|    RTX 3080|   1TB SSD"|Không có đánh giá|23.000.000 ₫|          0|          0|     0.0|                   0|       0|              0|GADGETSHUB PLC|
|  OnePlus|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|Brand New OnePlus...|Không có đánh giá| 8.000.000 ₫|          0|                0|           0|          0|          0|     0.0|      GADGETSHUB PLC|    NULL|            66%|          100%|
|     Dell|Máy vi tính & Laptop|//vn-live-05.slat...|    Mall|Laptop Dell Inspi...|Không có đánh giá|14.490.000 ₫|          0|                0|           0|          0|          0|     0.0|DELL Official Ret...|     88%|           100%|          100%|
|      MAC|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|Brand New AppleiP...|Không có đánh giá|13.000.000 ₫|          0|                0|           0|          0|          0|     0.0|      GADGETSHUB PLC|    NULL|            66%|          100%|
|Microsoft|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|"Brand New Micros...|Không có đánh giá|15.000.000 ₫|          0|                0|           0|          0|          0|     0.0|      GADGETSHUB PLC|    NULL|            66%|          100%|
|     Dell|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|Brand New Dell XP...|Không có đánh giá|16.000.000 ₫|          0|                0|           0|          0|          0|     0.0|      GADGETSHUB PLC|    NULL|            66%|          100%|
|       HP|Máy vi tính & Laptop|//vn-live-05.slat...|Non-Mall|Máy tính xách tay...|Không có đánh giá|12.490.000 ₫|          0|                0|           0|          0|          0|     0.0|   HP Flagship Store|     93%|           100%|          100%|
+---------+--------------------+--------------------+--------+--------------------+-----------------+------------+-----------+-----------------+------------+-----------+-----------+--------+--------------------+--------+---------------+--------------+
only showing top 10 rows

In [49]:
#Reading Json file into dataframe
#df_json = spark.read.json(path="/content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.json").show()


#Reading Json file into dataframe
# df_json = spark.read.option("inferSchema", "true").json(path="/content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.json")
# df_json.show()
df_raw = spark.read.text("/content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.json")
df_raw.show(truncate=False)

# df_json = spark.read.json("content/drive/MyDrive/Colab Notebooks/dataSet/ProductData.json")
# df_json.show()

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                               |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[                                                                                                                                                                                                   |
| {                                                                                                                                                                                                  |
|   "p_brand": "Dell",                                                                                                                                                                               |
|   "p_cate": "Máy vi tính & Laptop",                                                                                                                                                                |
|   "p_image": "//vn-live-05.slatic.net/p/ab973a529b50491bb63a1253aa6dc7d0.png_720x720q80.jpg_.webp",                                                                                                |
|   "p_mall": "Mall",                                                                                                                                                                                |
|   "p_name": "Laptop Dell Inspiron 7400 14.5 inches IPS QHD (Intel / i7-1165G7 / 16GB / 512GB SSD / NVIDIA GeForce MX350, 2GB / Finger Print / Win 10 Home SL) l Silver l DDXGD1 l HÀNG CHÍNH HÃNG",|
|   "p_number_reviews": "Không có đánh giá",                                                                                                                                                         |
|   "p_price": "31.490.000 ₫",                                                                                                                                                                       |
|   "p_rate1star": 0,                                                                                                                                                                                |
|   "p_rate2star": 0,                                                                                                                                                                                |
|   "p_rate3star": 0,                                                                                                                                                                                |
|   "p_rate4star": 0,                                                                                                                                                                                |
|   "p_rate5star": 0,                                                                                                                                                                                |
|   "p_rating": 0,                                                                                                                                                                                   |
|   "s_name": "DELL Official Retail Store",                                                                                                                                                          |
|   "s_rating": "88%",                                                                                                                                                                               |
|   "s_response_rate": "100%",                                                                                                                                                                       |
|   "s_ship_ontime": "100%"                                                                                                                                                                          |
| },                                                                                                                                                                                                 |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [46]:
# Reading Parquet file into DataFrame
df_parquet = spark.read.parquet("/content/drive/MyDrive/Colab Notebooks/dataSet/mtcars.parquet")
df_parquet.show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows