# When & Otherwise

The when and otherwise functions in PySpark provide a way to create conditional expressions within a DataFrame, allowing you to specify different values for new or existing columns based on specific conditions.

```
from pyspark.sql.functions import when
# Syntax to add a new column based on a condition
df = df.withColumn("new_column_name", when(condition1, value1).when(condition2, value2).otherwise(default_value))
```

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *  # Import the function
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import regexp_replace, col
from google.colab import drive

In [3]:
# Define the schema for the dataset
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", IntegerType(), True)
  ])
# Create a sample dataset
data = [
    ("Alice", 25, 3000),
    ("Bob", 35, 4000),
    ("Charlie", 40, 5000),
    ("David", 28, 4500),
    ("Eve", 32, 3500) ]
# Create DataFrame
df = spark.createDataFrame(data, schema)
df.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|  Alice| 25|  3000|
|    Bob| 35|  4000|
|Charlie| 40|  5000|
|  David| 28|  4500|
|    Eve| 32|  3500|
+-------+---+------+

### Apply 'when' and 'otherwise' to add new columns based on conditions

In [4]:
df = (df.withColumn("status", when(df.age <30, "Young").otherwise("Adult"))\
      .withColumn("Income_bracket",
                  when(df.salary <4000, "Low").\
                  when((df.salary >= 4000) & (df.salary <= 4500), "Medium").\
                  otherwise("Hight")
                  )
      )

df.show()

+-------+---+------+------+--------------+
|   name|age|salary|status|Income_bracket|
+-------+---+------+------+--------------+
|  Alice| 25|  3000| Young|           Low|
|    Bob| 35|  4000| Adult|        Medium|
|Charlie| 40|  5000| Adult|         Hight|
|  David| 28|  4500| Young|        Medium|
|    Eve| 32|  3500| Adult|           Low|
+-------+---+------+------+--------------+